.anchor
.DS_Store
target
**/*.rs.bk
node_modules
test-ledger
.yarn

# But keep the IDL and TypeScript types
!anchor/target/idl/
!anchor/target/types/
!anchor/target/idl/*.json
!anchor/target/types/*.ts